{
  "openapi": "3.0.0",
  "info": {
    "title": "COVID Tracking Project API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://covidtracking.com"
    }
  ],
  "paths": {
    "/api/v1/states/daily.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "Historic values for all states",
        "description": "Lists all COVID data available for every state since tracking started.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/states/current.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "Current values for all states",
        "description": "The most recent COVID data for every state. The current value may be different than today.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          }
        ]
      }
    },
    "/api/v1/states/{state}/current.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "Current values for a single state",
        "description": "The most recent COVID data for a single state. The current value may be different than today. Use lower-case state codes in the URL.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ca"
            },
            "description": "Use the lower-case two-letter state code to select the current value for a single state."
          }
        ]
      }
    },
    "/api/v1/states/{state}/daily.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "Historic values for a single state",
        "description": "All COVID data for a single state. Use lower-case state codes in the URL.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ca"
            },
            "description": "Use the lower-case two-letter state code to select the current value for a single state."
          }
        ]
      }
    },
    "/api/v1/states/{state}/{date}.{format}": {
      "get": {
        "tags": [
          "States Current and Historical Data"
        ],
        "summary": "Values for a single state on a specific date",
        "description": "All COVID values for a single state on a specific date. Use lower-case state codes in the URL.",
        "x-public-source-url": "https://docs.google.com/spreadsheets/u/2/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml#",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/States"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "json"
            },
            "description": "Use 'json' to return JSON arrays or object. Use 'csv' to return a CSV file."
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "ca"
            },
            "description": "Use the lower-case two-letter state code to select the current value for a single state."
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "20200501"
            },
            "description": "Use the ISO-formatted date, without hyphens, to select just the data for a specific date."
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "States": {
        "type": "object",
        "properties": {
          "date": {
            "type": "integer",
            "description": "Date for which the daily totals were collected.",
            "nullable": false,
            "example": 20200501
          },
          "state": {
            "type": "string",
            "description": "Two-letter code for the state.",
            "nullable": false,
            "example": ""
          },
          "fips": {
            "type": "string",
            "description": "Census FIPS code for the state.",
            "nullable": true,
            "example": ""
          },
          "positive": {
            "type": "integer",
            "description": "Total number of people who have tested positive for COVID-19 so far.",
            "nullable": true,
            "example": ""
          },
          "positiveIncrease": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "negative": {
            "type": "integer",
            "description": "Total number of people who have tested negative for COVID-19 so far.",
            "nullable": true,
            "example": ""
          },
          "negativeIncrease": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "pending": {
            "type": "integer",
            "description": "Number of tests whose results have yet to be determined.",
            "nullable": true,
            "example": ""
          },
          "total": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "totalTestResults": {
            "type": "integer",
            "description": "Total Test Results Provided by the State",
            "nullable": true,
            "example": ""
          },
          "totalTestResultsIncrease": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "posNeg": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "hospitalizedCurrently": {
            "type": "integer",
            "description": "Number of people in hospital for COVID-19 on this day.",
            "nullable": true,
            "example": ""
          },
          "hospitalizedCumulative": {
            "type": "integer",
            "description": "Total number of people who have gone to the hospital for COVID-19 so far, including those who have since recovered or died.",
            "nullable": true,
            "example": ""
          },
          "inIcuCurrently": {
            "type": "integer",
            "description": "Total number of people in the ICU for COVID-19 on this day.",
            "nullable": true,
            "example": ""
          },
          "inIcuCumulative": {
            "type": "integer",
            "description": "Total number of people who have gone to the ICU for COVID-19 so far, including those who have since recovered or died.",
            "nullable": true,
            "example": ""
          },
          "onVentilatorCurrently": {
            "type": "integer",
            "description": "Number of people using a ventilator for COVID-19 on this day.",
            "nullable": true,
            "example": ""
          },
          "onVentilatorCumulative": {
            "type": "integer",
            "description": "Total number of people who have used a ventilator for COVID-19 so far, including those who have since recovered or died.",
            "nullable": true,
            "example": ""
          },
          "recovered": {
            "type": "integer",
            "description": "Total number of people who have recovered from COVID-19 so far.",
            "nullable": true,
            "example": ""
          },
          "dataQualityGrade": {
            "type": "string",
            "description": "Grade assigned to the state based on the quality of their data reporting.",
            "nullable": true,
            "example": ""
          },
          "lastUpdateEt": {
            "type": "string",
            "description": "Last time the day's data was updated.",
            "nullable": true,
            "example": ""
          },
          "dateModified": {
            "type": "string",
            "description": "Deprecated, use lastUpdateEt instead",
            "nullable": true,
            "example": ""
          },
          "checkTimeEt": {
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "death": {
            "type": "integer",
            "description": "Total number of people who have died as a result of COVID-19 so far.",
            "nullable": true,
            "example": ""
          },
          "deathIncrease": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "hospitalized": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "hospitalizedIncrease": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "dateChecked": {
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "hash": {
            "type": "string",
            "description": "A hash of the current record.",
            "nullable": true,
            "example": ""
          },
          "commercialScore": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "negativeRegularScore": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "negativeScore": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "positiveScore": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "score": {
            "type": "integer",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "grade": {
            "type": "string",
            "description": "Deprecated",
            "nullable": true,
            "example": ""
          },
          "totalTestsViral": {
            "type": "integer",
            "description": "Total number of PCR tests performed.",
            "nullable": true,
            "example": ""
          },
          "positiveTestsViral": {
            "type": "integer",
            "description": "Total number of positive PCR tests.",
            "nullable": true,
            "example": ""
          },
          "negativeTestsViral": {
            "type": "integer",
            "description": "Total number of negative PCR tests.",
            "nullable": true,
            "example": ""
          },
          "positiveCasesViral": {
            "type": "integer",
            "description": "Total number of positive cases confirmed with PCR tests.",
            "nullable": true,
            "example": ""
          },
          "totalViralTestsPeople": {
            "type": "integer",
            "description": "Total number of people tested by PCR tests",
            "nullable": true,
            "example": ""
          }
        }
      }
    }
  }
}
